@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #24292e;
  font-family: 'Jost', sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 80%;
  margin: auto;
}
li {
  list-style: none;
}
h1 {
  margin: 0 0;
}
h2 {
  margin: 0 0;
}
h4 {
  margin: 0 0;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 1.125rem;
  padding: 0 8%;
}

.site-title a {
  display: block;
}
.sec-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5%;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 auto;
  padding: 2% 8%;
  color:inherit;
}
#header ul {
  display: flex;
  padding: 10px 0;
}
#header li {
  font-size: 1.125rem;
  margin-left: 30px;
}
#header li a {
  color: #24292e;
}
#header li a:hover {
  opacity: 0.7;
}
#header li img.icon {
  width: 20px;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  padding: 0 8%;
  max-width: 960px;
  margin: 0 auto 40px auto;
}
#mainvisual img {
  max-width: 100%;
  object-fit: contain;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about ul {
  margin-bottom: 30px;
}
#about li:first-child {
  margin-bottom: 30px;
}
#about p {
  text-align:start;
}

/*-------------------------------------------
Works
-------------------------------------------*/
#works ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
#works li {
  width: 31%;
  margin-bottom: 23px;
}
#works p {
  text-align:start;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
  background-color: #ffffff;
  color: #575757;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {
  .wrapper {
    margin-bottom: 70px;
  }
  .site-title {
    margin-top: 20px;
  }
  .sec-title {
    margin-bottom: 40px;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  #header {
    max-width: 100%;
    height: auto;
    flex-direction: row;
  }
  #header li {
    font-size: 1.0rem;
    margin-left: 20px;
  }
  #header li:first-child {
    margin-left: 0;
  }

  /*-------------------------------------------
  Works
  -------------------------------------------*/
  #works ul {
    flex-direction: column;
  }
  #works li {
    width: 100%;
  }
}
