@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #524c4c;
  font-family: 'Jost', sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 80%;
  margin: auto;
}
li {
  list-style: none;
}
hr {
  max-width: 850px;
  margin: 0 auto 20px auto;
  text-align: center;
  background-color: rgba(26, 26, 26, 0.1);
  height: 1px;
  border: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 50px auto;
  padding: 0 8%;
}
.wrapper h3 {
  margin-top: 32px;
  margin-bottom: 18px;
}
.wrapper p {
  margin-bottom: 16px;
}
.wrapper p a {
  color: #423d3d;
}
.wrapper code {
  font-family: sfmono-regular,menlo,monaco,consolas,"Liberation Mono","Courier New",monospace;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  background: #fbf7f0;
  color: #1d2d35;
  padding: 0.25rem 0.5rem;
}

.under { 
  border-bottom: solid 1px #524c4c;
}

.sharp {
  max-width: 300px;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 auto;
  padding: 4% 8%;
}
#header a img {
  max-height: 70px;
}
#header ul {
  display: flex;
  padding: 10px 0;
}
#header li {
  font-size: 1.125rem;
  margin-left: 30px;
}
#header li a {
  color: #24292e;
}
#header li a:hover {
  opacity: 0.7;
}
#header li img.icon {
  width: 20px;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  padding: 0 8%;
  max-width: 960px;
  margin: 0 auto 40px auto;
}
#mainvisual img {
  max-width: 100%;
  object-fit: contain;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about ul {
  margin-bottom: 30px;
}
#about li:first-child {
  margin-bottom: 30px;
}
#about p {
  text-align:start;
}

/*-------------------------------------------
Works
-------------------------------------------*/
#works ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
#works li {
  width: 31%;
  margin-bottom: 23px;
}
#works p {
  text-align:start;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
  background-color: #ffffff;
  color: #524c4c;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {
  .wrapper {
    margin-bottom: 70px;
  }
  .site-title {
    margin-top: 20px;
  }
  .sec-title {
    margin-bottom: 40px;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  #header {
    max-width: 100%;
    height: auto;
    flex-direction: row;
  }
  #header li {
    font-size: 1.0rem;
    margin-left: 20px;
  }
  #header li:first-child {
    margin-left: 0;
  }

  /*-------------------------------------------
  Works
  -------------------------------------------*/
  #works ul {
    flex-direction: column;
  }
  #works li {
    width: 100%;
  }
}
